<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NexusSalesConnection" connectionString="Host=18.192.93.86;Port=10409;Username=postgres;Password=Facebook16903584Manager62427418;Database=postgres;" providerName="Npgsql" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="UpdateManifestUrl" value="https://raw.githubusercontent.com/NexusSeries/NexusSales-release/main/releases/update_manifest.json" />
	</appSettings>
</configuration>